<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Messages')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('messages')"></nav>
<div class="container">
    <h1>Messages</h1>
    <hr>
    <section class="mt-4">
        <table class="table col-12">
            <thead>
            <tr>
                <th>Email</th>
                <th>Message</th>
                <th>Received at</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="message : ${messageList}" th:object="${message}">
                <td th:text="*{email}" class="col-3"></td>
                <td th:text="*{message}" class="col-6"></td>
                <td th:text="*{#temporals.format(createdAt, 'dd-MM-yyyy')}" class="col-3"></td>
            </tr>
            </tbody>
        </table>
    </section>
    <div class="mt-3">
        <a th:href="@{/photos}" class="btn btn-primary">Back to list</a>
    </div>
</div>
</body>
</html>